@import '../../assets/styles/mixins&vars'

.formFooter
  width: 100%
  gap: 20px
  @include flex-type($justify: space-between, $align: center, $wrap: wrap)

.contentBody
  width: 100%
.contentTable
  div
    height: 40px
     @include flex-type($justify: space-between, $align: none)
    border-bottom: 1px solid #b4adf8
    div
      text-transform: uppercase
      font-weight: 500
       @include flex-type($justify: none, $align: center)